.team {
  width: 100%;
  height: max-content;
}

.team__header {
  display: flex;
  justify-content: flex-start;
}

.team__img {
  height: 150px;
  margin: 10px 20px;
}

.team__active-competitions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team__competition {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team__player {
  width: 31%;
  flex-direction: column !important;
  align-items: flex-start !important;
}

.team__squad {
  display: flex;
  flex-wrap: wrap;
}
