.content {
  width: 60%;
  min-height: min-content;
  padding: 10px 10px;
  margin: 0;
  overflow: auto;

  background: rgb(214, 224, 157);

  display: flex;
  flex-wrap: wrap;
}

.content__message {
  width: 100%;
  padding: 5px;

  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  line-height: 2rem;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.content__count {
  width: 100%;
  padding: 5px;
  text-align: center;
}

.json-text {
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  color: #000000;
}

.content-item {
  padding: 5px;

  color: #000000;
  cursor: default;
  text-decoration: none;
}

.content-item__inner {
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 1px solid #2c6e24;
  border-radius: 5px;
  background-color: #ebd18c;

  display: flex;
  flex-direction: column;
}

.interactive:hover {
  background-color: #eedfb5;
}
