.content {
  width: 60%;
  min-height: min-content;
  padding: 5px;
  margin-left: 20px;
  overflow: auto;
  background: #ffffff;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.content__count {
  width: 100%;
  height: max-content;
  padding: 5px;
  text-align: center;
}

.content-item {
  padding: 5px;
  color: #32382e;
  cursor: default;
  text-decoration: none;
}

.content-item__inner {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #5c821a;

  display: flex;
  flex-direction: column;
}

.content-item__link:hover {
  cursor: pointer;
  background: #f2f7c5;
}

.content-item__name {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 10px 5px 10px 0;
  text-transform: uppercase;
}

.content-item__name--small {
  font-size: 0.9rem;
  padding: 5px 5px 5px 0;
}

.content-item__info {
  font-size: 0.8rem;
  line-height: 1rem;
}

.content-item__info--small {
  font-size: 0.7rem !important;
  line-height: 0.8rem !important;
}

/* --------------*/
.json-text {
  font-size: 0.7rem;
}

.content__message {
  padding: 30px;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  line-height: 2rem;
  text-align: center;
}
