.content {
  width: 60%;
  max-height: 400px;
  min-height: min-content;
  padding: 10px 10px;
  margin: 0;
  overflow: auto;

  background: rgb(214, 224, 157);
}

.json-text {
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  color: #000000;
}
