.nav-menu {
  width: 100%;
  background: rgb(98, 187, 135);
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.nav-menu__item {
  border: none;
  border-radius: 5px;
  min-width: max-content;
  width: 20%;
  height: 30px;
  background: #ade0bd;
  text-align: center;
  align-items: center;
  padding: 6px 10px;

  font-size: 1rem;
  font-weight: 800;
  line-height: 1rem;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.nav-menu__item:hover {
  background: #c7e9d1;
  cursor: default;
  user-select: none;
}
