.header {
  background: #5c821a;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.header__site-logo {
  text-decoration: none;
  min-width: max-content;
  display: flex;
  height: auto;
  padding: 15px;
}

.header__site-logo__img {
  max-height: 4.4rem;
}

.header__site-logo__text {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.2rem;
  color: #ffffff;

  width: 260px;
  margin: 0 10px;
}

.header__nav-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__nav-menu__item {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  padding: 0 5px;
  margin: 5px;
}

.header__nav-menu__item:hover {
  text-decoration: underline;
  user-select: none;
}
