.header {
  width: 100%;
  background: rgb(23, 148, 32);
  background-image: url(../../img/green-grass-soccer.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.header__text {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: #ffffff;

  margin: 0;
  padding: 15px 5%;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
