.footer {
  width: 100%;
  padding: 15px;
  background: #5c821a;

  display: flex;
  justify-content: center;
}

.footer__item {
  display: flex;
  margin: 3px;
  text-decoration: none;
  user-select: none;
}

.footer__item__icon {
  width: 13px;
  margin-right: 10px;
}

.footer__item__text {
  font-size: 0.8rem;
  color: #ffffff;
}

.footer__item__link:hover {
  text-decoration: underline;
}
