.search {
  width: 100%;
  background: rgb(157, 222, 224);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.search__header {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: #2c3268;
  margin: 15px 0;
}

.search__input {
  width: 100%;
}

.search__button {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
  text-decoration: none;
  text-align: center;

  margin-top: 10px;
  padding: 5px;
  background: #5c5ec2;
  border-radius: 10px;
}

.search__button:hover {
  background: #7475c5;
  cursor: default;
}
