.filters {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #5c821a;
}

.filters__header {
  color: #32382e;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
}

.filters__item {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.filter__item__name {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  min-width: max-content;
  padding-right: 10px;
}

.filter__item__value {
  width: 65%;
}

.filters__button-section {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

.filters__button-section__button {
  color: #32382e;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  width: 45%;
  padding: 5px;
  border-radius: 10px;
  background: #c6d166;
}

.filters__button-section__button:hover {
  color: #ffffff;
  background-color: #5c821a;
}

.filters__applied-item {
  display: flex;
  justify-content: space-between;
  background: #c6d166;
  padding: 5px;
  margin: 10px 0;
}

.filters__applied-item__name {
  color: #ffffff;
  font-size: 0.9rem;
  margin-right: 10px;
}

.filters__applied-item__value {
  font-size: 0.9rem;
  font-weight: 700;
}

.filters__applied-item__remove-button {
  color: #32382e;
  text-decoration: none;
  padding: 5px 10px;
  margin: -5px;
}

.filters__applied-item__remove-button:hover {
  color: #ffffff;
  background: #5c821a;
  cursor: pointer;
}
