body {
  max-width: 1000px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #32382e;
  font-size: 1rem;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.data-block {
  display: flex;
}

.filter-search-block {
  width: 40%;
}

.button {
  padding: 5px;
  margin: 5px 0;
  text-decoration: none;
  border: 1px solid #5c821a;
  border-radius: 5px;

  display: flex;
  align-items: center;
}

.button--column {
  flex-direction: column !important;
}

.button__name {
  color: #32382e;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.button__info {
  color: #32382e;
  font-size: 0.8rem;
  font-weight: 400;
}

.button__info--small {
  font-size: 0.6rem;
}

.button:hover {
  background-color: #e8f0c2;
}
