body {
  max-width: 1000px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #32382e;
  font-size: 1rem;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.data-block {
  display: flex;
}

.filter-search-block {
  width: 40%;
}

.button {
  padding: 5px;
  margin: 5px 0;
  text-decoration: none;
  border: 1px solid #5c821a;
  border-radius: 5px;

  display: flex;
  align-items: center;
}

.button--column {
  flex-direction: column !important;
}

.button__name {
  color: #32382e;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.button__info {
  color: #32382e;
  font-size: 0.8rem;
  font-weight: 400;
}

.button__info--small {
  font-size: 0.6rem;
}

.button:hover {
  background-color: #f2f7c5;
}

.content {
  width: 60%;
  padding: 5px;
  margin-left: 20px;
  overflow: auto;
  background: #ffffff;

  display: flex;
  flex-wrap: wrap;
  align-items: unset;
}

.content__count {
  width: 100%;
  height: max-content;
  padding: 5px;
  text-align: center;
}

.content-item {
  padding: 5px;
  color: #32382e;
  cursor: default;
  text-decoration: none;
}

.content-item__inner {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #5c821a;

  display: flex;
  flex-direction: column;
}

.content-item__link:hover {
  cursor: pointer;
  background: #f2f7c5;
}

.content-item__name {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 10px 5px 10px 0;
  text-transform: uppercase;
}

.content-item__name--small {
  font-size: 0.9rem;
  padding: 5px 5px 5px 0;
}

.content-item__info {
  font-size: 0.8rem;
  line-height: 1rem;
}

.content-item__info--small {
  font-size: 0.7rem !important;
  line-height: 0.8rem !important;
}

.content__message {
  padding: 30px;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  line-height: 2rem;
  text-align: center;
}
