body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.button {
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  background: #d4c292;
  border-radius: 5px;

  display: flex;
  align-items: center;
}

.button--column {
  flex-direction: column !important;
}

.button__name {
  color: #000000;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.button__info {
  color: #000000;
  font-size: 0.8rem;
  font-weight: 400;
}

.button__info--small {
  font-size: 0.6rem;
}

.button:hover {
  background: #c0ad7d;
}
